@font-face {
  font-family: 'HRC';
  src: url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
  src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: #2596be;
  color: white;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #F7F4EF, #CFC8BB, #7A7A7A);
  z-index: -2;
}

#letters {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}

.letter {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.842);
  animation: float 8s infinite ease-in-out;
  opacity: 0.7;
}

@keyframes float {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 0.6;
  }
  50% {
    transform: translateY(-30px) rotate(20deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(-20deg);
    opacity: 0.6;
  }
}

#homepage {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 20px;
    z-index: 1;
}

.homepage-container {
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  width: 90%;
  height: 650px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

h1 {
    font-size: 4.3rem;
    margin-bottom: 3px;
    font-family: "Inter", sans-serif;
    letter-spacing: 1px;
    color: rgba(41, 41, 41, 0.842);
}

h2 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.562);
}

#homepage h2 {
  margin-top: 5px;
  margin-bottom: 65px;
}
.form-group {
  margin-bottom: 20px;
  margin-right: 30px;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.644);
  background: rgba(255, 255, 255, 0.466);
  color: #000;
  outline: none;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

input:focus,
select:focus {
  border-color: rgba(255, 255, 255, 0.6);
}
input,
label {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

button {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: 1px;
  background: rgba(3, 175, 255, 0.397);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

button:hover {
  background: #25a3d1;
}
